@import '../../../../../styles/_config';

header {
  background-color: $color-primary;
  color: $color-white;
  padding: 4px 4px 0px 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  height: 60px;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  height: 100%;
}

.logo {
  font-size: 1.2em;
  padding: 12px;
  float: left;
  color: $color-white;
  text-decoration: none;
}
